@{
    ViewData["Title"] = "Cadastrar";
}

<body class="login-and-signup">
    <header>
        <div class="red-banner">
            Cadastre-se agora e ganhe desconto de 10% em cursos!
        </div>
        <nav>
            <div class="logo">
                <a>
                    <img src="~/img/code-wizards-logo.png"/>
                </a>
            </div>
            <div class="address">
                <a>Informe seu endereço</a> para saber cursos próximos a você
            </div>
            <a class="btn-option">
                Ajuda <i class="ri-arrow-drop-down-line"></i>
            </a>
        </nav>
    </header>
    <main class="main-info">
        <div class="info-box">
            <h1>6 milhões de acesso em apenas um mês!</h1>
            <div class="description">
                Esse é o alcance da maior plataforma de cursos, 
                Code Wizards! Faça parte e eleve seu conhecimento.
            </div>
        </div>
        <div class="login-container">
            <div class="login-box">
                <div class="title">Cadastre-se no nosso site!</div>
                <div class="content"> 
                    <form asp-controller="Access" asp-action="SignUp" method="post">
                        <div class="user-input">
                            <label for="name">Nome Completo</label>
                            <div class="input-container">
                                <input type="text" name="name" placeholder="Seu nome completo" required>
                            </div>
                            <label for="email">Email</label>
                            <div class="input-container">
                                <input type="email" name="email" placeholder="email@gmail.com" required>
                            </div>
                            <label for="phone">Telefone</label>
                            <div class="input-container">
                                <input type="text" name="phone" placeholder="(00) 0 0000-0000">
                            </div>
                            <div style="color:#540000">@ViewData["PasswordsNotMatching"]</div>
                            <label for="password">Criar Senha</label>
                            <div class="input-container">
                                <input type="password" name="password" placeholder="8 a 16 caracteres" required>
                            </div>
                            <label for="passwordSpell">Confirmar Senha</label>
                            <div class="input-container">
                                <input type="password" name="passwordSpell" placeholder="" required>
                            </div>
                        </div>
                        <input class="btn" type="submit" name="submit-btn" value="Entrar">
                    </form>
                    <div class="signup-banner" style="text-align: left;">
                        Já possui conta? <a asp-controller="Access" asp-action="Login">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="divisor">
                <div class="line"></div>
                <div class="text">Ou</div>
                <div class="line"></div>
            </div>
            <a class="google-btn" asp-controller="Access" asp-action="GoogleAuthentication">
                <img src="~/img/google-g-logo.png"/>
                <b>Continuar com o Google</b>
            </a>
        </div>
    </main>
</body>
